/* configurações padrão */

body, html{
    margin: 0;
    font: 16px "Lato" sans-serife;
    color: #777777;
    height: 100%;
}

.conteudo{
    color: #777777;
    background-color: white;
    text-align: justify;
    padding: 50px 80px;
}

h3{
    
    color: #111111;
    text-align: center;
}

/********** Efeito Parallax *************/

.caixa1, .caixa2, .caixa3, .caixa4{
    position: relative;
    height: 100%;
    opacity: 0.8;
    background-repeat: no-repeat; /* Configurar para não repetir a imagem */
    background-size: cover; /* Estender a imagem de ponta-a-ponta */
    background-position: center; /* Sempre centraliza a imagem mesmo se diminuir o espaçamento da tela, ou dar zoom */
    background-attachment: fixed; /* Ele que fixa a imagem de fundo, dando o efeito Parallax */
}
.caixa1{
    background-image: url(../imagens/imagem1.jpg);    
}

.caixa2{
    background-image: url(../imagens/imagem2.jpg);
}

.caixa3{
    background-image: url(../imagens/imagem3.jpg);
}

.caixa4{
    background-image: url(../imagens/imagem4.jpg);
}

.conteudo-titulo{ /* Cria uma linha centralizada para manter o "span.titulo" centralizado */
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;

}

.conteudo-titulo span.titulo{
    color: #ffffff;
    background-color: #111111;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 5px;
    text-transform: uppercase;
}


/* */